body{
    /*background-color: #f6f6f6;*/
    background-image: url("../pdf/colori.jpg");
    background-repeat: no-repeat;

}

.container{
    max-width: 1500px !important;
    padding: 0px;
    margin: 0 auto;
}

.title {
    font-size: 30px;
    margin-top: 30px;
    padding: 30px 30px 0px 30px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.row {
   margin: 2%;
}

.col-lg-4 {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    max-width: 30%;
    height: 140px;
}

.domenica {
    height: 320px;
}

img{
    height: 100px;
    width: 100px;
}

.chitarra{
  height: 200px;
  width: 200px;  
  margin-left: 30%;
  transform: rotate(15deg);
}

h6{
    margin: -85px 0px 10px 120px;
}

.canti {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: deeppink;
}

.btn-primary {
    border: solid 2px #1473e6 !important;
    background-color: #1473e6 !important;
    border-radius: 30px !important;  
    margin-left: 120px;
}

.btn{
   padding:7px 35px;
}

@media (max-width: 1251px) {
  .col-lg-4 {
  max-width: 100%;   
}
}

